body {
    background: #333333;
    color: white;
    font-family: arial;
    font-size: large;
}

p {
}

table {
    border: 1px solid black;
    margin: 0.5em;
}

td {
    background: #444444;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

th {
    background: #b6bfdf;
    color: #222222;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: left;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
}

#index {
    #overflow-y: scroll;
}

#details {
    overflow-y: scroll;
}

.index {
}

.module {
    color: darkgrey;
    font-size: smaller;
}

.item {
    margin-left: 1em;
}

.varhold {
    color: lightblue;
}

.var {
    color: #eea75b;
}

.enum {
    color: lightgreen;
}

.index.module {
    padding-top: 0.5em;
}

.indent {
    margin-left: 1em;
}

.minor {
    color: darkgrey;
    font-size: smaller;
}
